.certification-page {
  padding: 30px;
}

.certifications {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px; /* Increased gap for more spacing between cards */
  max-width: 1400px; /* Increased max-width for larger container */
  margin: 0 auto;
}

.certifications-title {
  text-align: center;
  font-size: 2.8rem; /* Slightly larger for impact */
  color: var(--dark-navy); /* Dark navy for contrast */
  margin: 40px 0;
  margin-top: 0px;
  font-weight: 700; /* Bold title */
}
