.socials {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.socials a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--black, #000);
  transition: transform 0.3s ease, color 0.3s ease;
}

.socials a:hover {
  transform: scale(1.2);
}

.socials svg {
  font-size: 2rem;
  color: var(--black, #000);
}
.email-icon {
  font-size: 2.5rem !important;
}
